.books-header {
    background: linear-gradient(rgba(33,33,33,.9), rgba(33,33,33,.7)), url(images/books-bg.jpg) center no-repeat;
}

.books-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 0;
}

.books-section .books-list {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width: 1600px) {
    .book{
        margin: 6rem 3rem;
    }
}

@media(max-width: 1280px) {
    .book {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}